<div class="col-4">
  <div class="card mb-4">
    <img src="<%= recipe.image_url %>" class="card-img-top" alt="<%= recipe.title %>" style="max-height: 23vh; object-fit: cover;">

    <% if params[:query].present? %>
      <div class="progress" role="progressbar" aria-label="Ingredient Progress Bar" aria-valuenow="<%= (recipe.ingredient_matches.to_f / recipe.total_ingredients.to_f)*100 %>" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated text-center" style="width: <%= (recipe.ingredient_matches.to_f / recipe.total_ingredients.to_f)*100 %>%"><%= recipe.ingredient_matches %>/<%= recipe.total_ingredients %> ingredients</div>
      </div>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title %></h5>
    </div>

    <div class="accordion" id="recipe_<%= recipe.id %>_parent">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#recipe_<%= recipe.id %>" aria-expanded="false" aria-controls="recipe_<%= recipe.id %>">
            Ingredients
          </button>
        </h2>
        <div id="recipe_<%= recipe.id %>" class="accordion-collapse collapse" data-bs-parent="#recipe_<%= recipe.id %>_parent">
          <div class="accordion-body">
            <ul class="list-group">
              <% recipe.ingredients.each do |ingredient| %>
                <li class="list-group-item"><%= ingredient %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
