<div class="col-4">
  <div class="card">
    <img src="<%= recipe.image_url %>" class="card-img-top" alt="<%= recipe.title %>" style="max-height: 23vh; object-fit: cover;">

    <% if params[:query].present? %>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="<%= (recipe.ingredient_matches.to_f / recipe.total_ingredients.to_f)*100 %>" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated text-center" style="width: <%= (recipe.ingredient_matches.to_f / recipe.total_ingredients.to_f)*100 %>%"><%= recipe.ingredient_matches %>/<%= recipe.total_ingredients %> ingredients</div>
      </div>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title %></h5>

    </div>
    <ul class="list-group">
      <% recipe.ingredients.each do |ingredient| %>
          <li class="list-group-item"><%= ingredient %></li>
      <% end %>
    </ul>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
