<div class="container-fluid">
  <div class="row">
    <h1>Recipe Discoverer</h1>
  </div>
  <div class="row">
    <div class="col-3" data-controller="ingredients-filter">
      <%= form_with(url: recipes_path, method: :get) do |form| %>
        <%= form.text_field :query, class: 'class', data: { 'ingredients-filter-target': 'input', action: 'input->ingredients-filter#search'} %>
      <% end %>
      <div class="row" data-ingredients-filter-target="list">
        <% @ingredients.each do |ingr| %>
          <div class="col-12">
            <input type="checkbox" id="<%= ingr.id %>" name="<%= ingr.name.underscore %>" value="<%= ingr.id %>" />
            <label for=<%= ingr.name.underscore %>><%= ingr.name.titleize %></label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <h2>Top rated recipes</h2>
      </div>
      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-4">
            <div class="card">
              <img src="<%= recipe.image_url %>" class="card-img-top" alt="<%= recipe.title %>">
              <div class="card-body">
                <h5 class="card-title"><%= recipe.title %></h5>
                <% recipe.ingredients.each do |ingredient| %>
                  <p class="card-text"><%= ingredient %></p>
                <% end %>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

