<div class="container-fluid">
  <div class="row">
    <h1>Recipe Discoverer</h1>
  </div>
  <div class="row">
    <div class="col-3" data-controller="ingredients-filter">
      <%= form_with(url: recipes_path, method: :get) do |form| %>
        <%= form.text_field :query, class: 'class', data: { 'ingredients-filter-target': 'input', action: 'input->ingredients-filter#search'} %>
      <% end %>
      <div class="row" data-ingredients-filter-target="list">
        <% @ingredients.each do |ingr| %>
          <div class="col-12">
            <input type="checkbox" id="<%= ingr.id %>" name="<%= ingr.name.underscore %>" value="<%= ingr.id %>" data-ingredients-filter-target="checkbox" data-action="change->ingredients-filter#triggerCheckbox" />
            <label for=<%= ingr.name.underscore %>><%= ingr.name.titleize %></label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <h2>Top rated recipes</h2>
      </div>
      <div class="row" id="recipes">
        <%= turbo_frame_tag "recipes_turbo", src: recipes_path(format: 'turbo_stream'), loading: 'lazy', target: :replace %>
      </div>
    </div>
  </div>
</div>

